<p>Hello Regzpert Member!</p>
<p>
    Congratulations!  <b>A comment has been added in Regzpert for all to see.</b>.

    Check it out <%= link_to 'here', place_url(@place) %>.

Have a safe day,<br />

Ann Meier